*{
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}
:root{
  --x: 12px;
  --x2: 24px;
  --x3: 36px;
  --x4: 48px;
  --blue: #DCF9FF;
  --margin: 96px;
  --left: 360px;
}
a{
  color: red;
  text-decoration: none;
}
body{
  background-color: var(--blue);
}
.Loader {
  width: 100vw;
  height: 100vh;
  left: 0px;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
  position: fixed;
}
