@media screen and (max-width: 800px) {
    #LeftColumn {
        position: static;
        margin-left: var(--x2);
        margin-right: var(--x2);
        margin-top: var(--x2);
        background-color: var(--blue);
        grid-area: leftColumn;
        display: flex;
        flex-flow: column;
        z-index: 8;
        justify-content: center;
    }
    #projectMatrix h2 {
        text-align: center;
    }
    #projectMatrix .tagsContainer {
        flex-flow: row;
        justify-content: center;
    }
    h4#Contacts {
        display: none;
    }
    div#MainContainer {
        display: block;
        overflow: hidden scroll;
    }
    div#MainContainer.hide::-webkit-scrollbar {
        display: none;
    }
    h1 {
        font-size: 18px;
    }
    div#projectMatrix {
        
        margin: 0px;
        margin-top: 10vh;
    }
    .ProjectBlock {
        max-width: 90vw;
        height: auto;
        display: flex;
        flex-flow: column-reverse;
    }
    svg {
        position: static;
    }
    .projectText {
        opacity: 1;
        margin: 0px;
        width: 100%;
        color: black;
        margin-bottom: 72px;
    }
    div#RightPanel {
        position: fixed;
        height: 100vh;
        width: 100vw;
        bottom: 0px;
        right: 0px;
        display: block;
        overflow: hidden scroll;
    }
    .ProjectBlock.inCase{
        margin-left: var(--x2);
        margin-top: var(--x2);
    }
    .ProjectBlock.inCase svg {
        display:none
    }
    .textSection {
        display: block;
        margin-left: var(--x2);
        margin-right: var(--x2);
    }
    .imgSection {
        display: block;
    }
    .videoSection {
        display: block;
    }
    .projectHeader {
        height: 30vh;
    }
    div#clipContainer {
        overflow: hidden;
        height: initial;
    }
    .hoverMask {
        display: none;
    }
    svg.oval.mask {
        transform: translate(8%, -4%);
    }
    .closeButton {
        position: absolute;
        top: 4vh;
        margin-left: var(--x2);
    }
    div#RightPanel {
        left: 0px;
    }
}